body{
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
     


}
#guessNumber{
    margin: 0 auto;
    width: 50%;
    text-align: center; 
    color: #fff;
    font-family: open-sans, sans-serif;
}
.player_two{
    display: none;
}
.player_one input, .player_two input {
    padding: 10px;
    outline: 0;
    width: 200px;
}
#guessNumber button{
    padding: 11px 15px;
    background: green;
    border: none;
    color: #fff;
    cursor: pointer;
}
.opponentimg, .winimg{
    display: none;
    margin: 0 auto;
}
.error{
    color: red;
    font-size: 18px;
}
.chance{
    display: none;
}